/* @media  and (max-width:540px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-ul-1 ul {
        flex-direction: column;
        padding-left: 0;
    }

    .nav-ul-2 {
        flex-direction: column;
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-container img {
        width: 100%;
        margin-top: 70px;
    }

    .banner-text {
        font-size: 2rem;
    }

    .banner-title {
        font-size: 3rem;
    }

    .banner-content {
        text-align: center;
    }

    .btn-pink {
        margin-right: 5px;
        margin-bottom: 20px;
    }

    .gamer-container {
        flex-direction: column;
        gap: 20px;
    }

    .gamer-img {
        width: 100%;
    }

    .gamer-title {
        text-align: center;
    }

    .gamer-para {
        text-align: center;
    }

    .btn-gamer {
        text-align: center;
    }

    .gamer-text {
        text-align: center;
    }

    .video-card-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .play-container{
        flex-direction: column;
        gap: 50px;
    }
    .play-img-container{
        text-align: center;
       
    }
    .play-img img{
        width: 80%;
        object-fit: cover;
    }
    .img-relative img{
        width: 40%;
        object-fit: cover;
    }
    .img-relative{
        position: relative;
        bottom: 100px;
        right: 50px;
    }
} */


@media screen and (max-width:992px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-ul-1 ul {
        flex-direction: column;
        padding-left: 0;
    }

    .nav-ul-2 {
        flex-direction: column;
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-container img {
        width: 100%;
        margin-top: 70px;
    }

    .banner-text {
        font-size: 2rem;
    }

    .banner-title {
        font-size: 3rem;
    }

    .banner-content {
        text-align: center;
    }

    .btn-pink {
        margin-right: 5px;
        margin-bottom: 20px;
    }

    .gamer-container {
        flex-direction: column;
        gap: 20px;
    }

    .gamer-img {
        width: 100%;
    }

    .gamer-title {
        text-align: center;
    }

    .gamer-para {
        text-align: center;
    }

    .btn-gamer {
        text-align: center;
    }

    .gamer-text {
        text-align: center;
    }

    .video-card-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .play-container {
        flex-direction: column;
        gap: 50px;
    }

    .play-img-container {
        text-align: center;

    }

    .play-img img {
        width: 80%;
        object-fit: cover;
    }

    .img-relative img {
        width: 40%;
        object-fit: cover;
    }

    .img-relative {
        position: relative;
        bottom: 150px;
        right: 110px;
    }

    .play-2-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .play-2-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .play-2-img{
        text-align: center;
    }
    .play-2-img img{
        width: 80%;
        object-fit: cover;
       
    }
    .play-2-relative{
        position: relative;
    }
    .play-2-relative img{
        width: 30%;
        object-fit: cover;
        left: 250px;
        bottom: 100px;
    }
    .play-2-title{
        text-align: center;
        width: 400px;
    }
    .play-2-para{
        /* width: 400px; */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;

    }

}