/* common shared styles */
body {
    font-family: "Work Sans", sans-serif;
    box-sizing: border-box;
}


/* nav related styles */
nav {
    max-width: 1400px;
    margin: auto;
    /* border: 1px solid black; */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-img-container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

}

.nav-img {
    width: 86px;
    height: 40px;
    object-fit: cover;
}

.nav-title {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
}

.nav-color-text {
    background-image: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    color: transparent;
    -webkit-background-clip: text;
}

.nav-menu {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.nav-ul-1 ul {
    display: flex;
    gap: 32px;
}

.nav-ul-2 ul {
    display: flex;
    gap: 32px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px 25px;
}

.nav-menu ul li {
    list-style: none;
}

.nav-menu li a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.nav-menu li a .fa-youtube {
    color: #F61C0D;
    font-size: 1.5rem;
}

.nav-menu li a .fa-tiktok {
    color: transparent;
    /* text-shadow: .2px .2px .2px #08FFF9; */
    background-image: linear-gradient(#08FFf9, black, #F00044);
    -webkit-background-clip: text;
    font-size: 1.5rem;
}

/* banner related styles */
.banner-text {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    /* text-align: center; */
    text-transform: uppercase;
    margin-bottom: 0;
}

.banner-title {
    /* text-align: center; */
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    color: transparent;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    margin-top: 0;
    margin-bottom: 0;
}

.banner-para {
    color: #534C64;
    /* text-align: ; */
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 20px;
}

.fa-user-group {
    margin-bottom: 30px;
}

.btn-pink {
    padding: 21px 40px;
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    border: 0;
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 600;
    margin-right: 20px;
    text-transform: uppercase;
}

.btn-blue {
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 21px 40px;
    border: 0;
}

.banner-container {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.banner {
    background-image: url('images/Group 14.png');
    background-repeat: no-repeat;
    background-position: top left;

}

.fa-circle-play {
    color: #FF42A5;

}

.fa-download {
    color: #FF42A5;
}

.banner-content {
    align-content: center;
}

/* gamer related styles */
.gamer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    max-width: 1400px;
}

.gamer-img {
    /* width: 100%; */
    object-fit: cover;
}

.gamer-title {
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
}

.gamer-para {
    color: #534C64;
    text-align: right;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 30px;
    max-width: 520px;
}

.btn-gamer {
    text-align: right;
}

.gamer-text {
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}

.span-gamer-text {
    color: #534C64;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 45px;
}

.gamer {
    background-image: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}

/* video related styles */
.video-text {
    text-align: center;
    margin-top: 100px;
}

.video-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.video-linear-gradient-text {
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;

}

.video-para {
    color: #534C64;
    font-family: "Work Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 50px;
}

.video-card-container {
    display: flex;
    justify-content: space-evenly;

}

.video-img {
    width: 320px;
    object-fit: cover;
}

.video-card-para {
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 30px;
    width: 342px;
}

.video-container {
    max-width: 1400px;
    margin: auto;
}

/* play related styles */
.play {
    margin: 0;
}

.play-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    max-width: 1400px;
    margin: 120px auto;
    margin-bottom: 0;


}

.play-title {
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
    width: 341px;
    margin-bottom: 0;
}

.play-linear-gradient-text {
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.play-para {
    color: #534C64;
    text-align: right;
    font-size: 1.13rem;
    font-weight: 400;
    line-height: 30px;
    width: 353px;
    margin-top: 25px;
}

/* .play-img-container{
    position: relative;
    border: 1px solid red;
} */
.img-relative {
    position: relative;
    bottom: 300px;
    right: 150px;
}

/* play-2 related styles */
.play-2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    max-width: 1400px;
    margin: 0 auto;
}

.play-2-relative img {
    position: relative;
    left: 530px;
    bottom: 250px;
}

.play-2-title {
    text-align: left;
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
    width: 426px;
    margin-bottom: 0;
}

.play-2-gradient {
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.play-2-para {
    color: #534C64;
    text-align: left;
    font-size: 1.13rem;
    font-weight: 400;
    line-height: 30px;
    /* width: 353px; */
    margin-top: 25px;
}

.play-2 {
    margin-bottom: 0;
}